
<form class="" action="/edit/{{id}}" method="post">

  <input type="text" name="name" placeholder="Name of Shoe" value="">
  <input type="text" name="shoeType" value="" placeholder="Shoe Type">
  <input type="text" name="shoeStyle" value="" placeholder="Shoe Style">
  <input type="text" name="heelHeight" value="" placeholder="Heel Height">
  <input type="text" name="size" value="" placeholder="Size">
  <input type="text" name="color" value="" placeholder="Color">
  <input type="text" name="material" value="" placeholder="Material">
  <input type="submit" name="" placeholder="Submit" value="">
</form>
