<h4>Shoe</h4>
<form class="" action="/" method="post">
  <input type="text" name="name" placeholder="Name of Shoe" value="">
  <input type="text" name="shoeType" placeholder="Shoe Type" value="">
  <input type="text" name="shoeStyle" placeholder="Shoe Style" value="">
  <h4>Shoe Details</h4>
  <input type="text" name="heelHeight" placeholder="Heel Height" value="">
  <input type="text" name="size" placeholder="Size" value="">
  <input type="text" name="color" placeholder="Color" value="">
  <input type="text" name="material" placeholder="Material" value="">
  <button type="submit" name="button">Make a New Shoe</button>
</form>

<h1>All the Shoes!!!</h1>
{{#shoe}}
    <ul>
      <li>
        {{name}}
        {{shoeType}}
        {{shoeStyle}}
        {{shoeDetails.heelHeight}},
        {{shoeDetails.size}},
        {{shoeDetails.color}},
        {{shoeDetails.material}}
      </li>
    </ul>

<!-- <form class="" action="/delete" method="post">
  <button type="submit" name="{{name}}">Trash</button>
</form> -->
<a href="/delete/{{name}}">Trash</a>
<a href="/edit/{{_id}}">Change Me</a>

{{/shoe}}
